/* glue: 0.9.4 hash: db52b20cca */
        .logo,
.claim,
.copy_4,
.copy_2,
.copy_einfach,
.copy_5,
.copy_1,
.cta,
.product_4,
.copy_3,
.product_2,
.product_1,
.product_5,
.product_3 {
            background-image: url('../images/items.png');
            background-repeat: no-repeat;
        }
        
        .logo {
            background-position: -1px -1px;
            width: 275px;
            height: 34px;
        }
        
        .claim {
            background-position: -1px -37px;
            width: 266px;
            height: 14px;
        }
        
        .copy_4 {
            background-position: -1px -53px;
            width: 239px;
            height: 32px;
        }
        
        .copy_2 {
            background-position: -1px -87px;
            width: 224px;
            height: 32px;
        }
        
        .copy_einfach {
            background-position: -1px -121px;
            width: 168px;
            height: 32px;
        }
        
        .copy_5 {
            background-position: -1px -155px;
            width: 152px;
            height: 32px;
        }
        
        .copy_1 {
            background-position: -1px -189px;
            width: 152px;
            height: 41px;
        }
        
        .cta {
            background-position: -1px -232px;
            width: 138px;
            height: 32px;
        }
        
        .product_4 {
            background-position: -278px -1px;
            width: 133px;
            height: 89px;
        }
        
        .copy_3 {
            background-position: -278px -92px;
            width: 123px;
            height: 32px;
        }
        
        .product_2 {
            background-position: -278px -126px;
            width: 117px;
            height: 85px;
        }
        
        .product_1 {
            background-position: -1px -266px;
            width: 102px;
            height: 86px;
        }
        
        .product_5 {
            background-position: -413px -1px;
            width: 95px;
            height: 87px;
        }
        
        .product_3 {
            background-position: -413px -90px;
            width: 65px;
            height: 87px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .logo,
    .claim,
    .copy_4,
    .copy_2,
    .copy_einfach,
    .copy_5,
    .copy_1,
    .cta,
    .product_4,
    .copy_3,
    .product_2,
    .product_1,
    .product_5,
    .product_3 {
                background-image: url('../images/items.png');
                -webkit-background-size: 509px 353px;
                -moz-background-size: 509px 353px;
                background-size: 509px 353px;
            }
        }
        