@import '../../common/styles/_common';

#banner{
  width:728px;
  height:90px;
}

.copies{
  left:0;
  top:0;
}
.debug .bg{
  opacity: 0;
}

//generated

#banner{

  .claim{
  left:32px;
  top:60px;
}

.logo{
  left:26px;
  top:20px;
}

.cta{
  left:558px;
  top:29px;
}

.copy_5{
  left:205px;
  top:21px;
}

.copy_4{
  left:206px;
  top:21px;
}

.copy_3{
  left:205px;
  top:21px;
}

.copy_2{
  left:205px;
  top:21px;
}

.copy_1{
  left:206px;
  top:12px;
}

.copy_einfach{
  left:27px;
  top:21px;
}

.product_5{
  left:376px;
  top:3px;
}

.product_4{
  left:461px;
  top:1px;
}

.product_3{
  left:348px;
  top:2px;
}

.product_2{
  left:445px;
  top:5px;
}

.product_1{
  left:373px;
  top:4px;
}
}
